$yellow_primary: #f5d24b;
$grey_primary: #656565;
$red_primary: #d63232;

.tic-tac-toe--edit-player-name-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  .tic-tac-toe--modal-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 24px;
    width: 100%;
    max-width: 280px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px;
    @media (min-width: 375px) {
      max-width: 320px;
    }
    @media (min-width: 768px) {
      max-width: 500px;
    }
    .tic-tac-toe--modal-close-button {
      position: absolute;
      top: 24px;
      right: 16px;
      background-color: transparent;
      border: 0;
      padding: 0;
      display: flex;
      cursor: pointer;
      img {
        max-width: 40px;
        height: auto;
      }
    }
    .tic-tac-toe--modal-player-img {
      width: 100%;
      max-width: 60px;
      height: auto;
      margin-top: 48px;
      @media (min-width: 375px) {
        max-width: 70px;
      }
      @media (min-width: 768px) {
        max-width: 80px;
      }
    }
    .tic-tac-toe--modal-label {
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      text-align: center;
      color: #000;
      margin-top: 16px;
      @media (min-width: 375px) {
        font-size: 24px;
        line-height: 28px;
      }
      @media (min-width: 768px) {
        font-size: 32px;
        line-height: 36px;
      }
    }
    .tic-tac-toe--modal-text-input {
      width: 100%;
      background-color: #fff;
      color: $grey_primary;
      border: 2px solid #000;
      border-radius: 4px;
      outline: none;
      padding: 8px;
      margin-top: 8px;
    }
    .tic-tac-toe--input-error-message {
      color: $red_primary;
      font-size: 12px;
      line-height: 16px;
      width: 100%;
      margin-top: 8px;
      margin-bottom: 0;
      @media (min-width: 375px) {
        font-size: 14px;
        line-height: 18px;
      }
      @media (min-width: 768px) {
        font-size: 16px;
        line-height: 20px;
      }
    }
    .tic-tac-toe--modal-accept-button {
      display: block;
      width: 100%;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      color: #000;
      background-color: $yellow_primary;
      border: 2px solid $yellow_primary;
      padding: 8px 16px;
      border-radius: 6px;
      cursor: pointer;
      margin-top: 16px;
      @media (min-width: 375px) {
        font-size: 20px;
        line-height: 24px;
      }
      @media (min-width: 768px) {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }
}
