$yellow_primary: #f5d24b;

.tic-tac-toe--board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  place-content: center;
  width: 100%;
  height: auto;
  background-color: #fff;
  border: 8px solid #000;
  border-radius: 16px;
  box-shadow: -10px 10px 0 0 rgba(0, 0, 0, 1);
  padding: 16px;
  margin-top: 32px;
  @media (min-width: 375px) {
    padding: 32px;
  }
  @media (min-width: 768px) {
    width: 500px;
    height: 500px;
    place-content: normal;
  }
  @media (min-width: 992px) {
    width: 400px;
    height: 400px;
  }
  @media (min-width: 1200px) {
    width: 500px;
    height: 500px;
  }
}

.tic-tac-toe--players {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
}

.tic-tac-toe--restart-game-button {
  display: block;
  padding: 16px;
  border-radius: 6px;
  background-color: $yellow_primary;
  border: 2px solid $yellow_primary;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  margin-top: 32px;
  @media (min-width: 375px) {
    font-size: 16px;
  }
  @media (min-width: 768px) {
    font-size: 20px;
  }
}
