$yellow_primary: #f5d24b;

.tic-tac-toe--winner-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  .tic-tac-toe--modal-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 24px;
    width: 100%;
    max-width: 280px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px;
    @media (min-width: 375px) {
      max-width: 320px;
    }
    @media (min-width: 768px) {
      max-width: 500px;
    }
    .tic-tac-toe--modal-title {
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      text-align: center;
      color: #000;
      margin: 0;
      @media (min-width: 375px) {
        font-size: 24px;
        line-height: 28px;
      }
      @media (min-width: 768px) {
        font-size: 32px;
        line-height: 36px;
      }
    }
    .tic-tac-toe--modal-description {
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #000;
      margin-top: 16px;
      margin-bottom: 0;
      @media (min-width: 375px) {
        font-size: 20px;
        line-height: 24px;
      }
      @media (min-width: 768px) {
        font-size: 28px;
        line-height: 32px;
      }
    }
    .tic-tac-toe--modal-player-img {
      width: 100%;
      max-width: 60px;
      height: auto;
      margin-top: 16px;
      @media (min-width: 375px) {
        max-width: 70px;
      }
      @media (min-width: 768px) {
        max-width: 80px;
      }
    }
    .tic-tac-toe--modal-play-again-button {
      display: block;
      width: 100%;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      color: #000;
      background-color: $yellow_primary;
      border: 2px solid $yellow_primary;
      padding: 16px;
      border-radius: 6px;
      cursor: pointer;
      margin-top: 16px;
      @media (min-width: 375px) {
        font-size: 20px;
        line-height: 24px;
      }
      @media (min-width: 768px) {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }
}
