$grey_primary: #e7e7e7;

footer {
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  bottom: 0;
  width: 100%;
  .tic-tac-toe-footer-author {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin: 0;
  }
}
