$blue_primary: #3d7ad6;

#root {
  max-width: 1280px;
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
  .tic-tact-toe-app {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: $blue_primary;
    .tic-tac-tope-content-wrap {
      padding: 24px 16px;
    }
  }
}
